<div>
  <img class="image block" src="assets/gallery/log.jpg">
  <div>
      <h1>Welcome To EMS</h1>
  </div>
  <div class="header">
      <ul>
               <li><a href="home.html">Home</a></li>
               <li><a href="Employee%20list.html">Employee List</a></li>
               <li><a href="Add%20new%20Emp.html">Add New</a></li>
               <li><a>Salary</a></li>
               <li><a>Attendance</a></li>
               <li><a href="contact.html">Contact</a></li>
     </ul>
  </div>
  </div>