<div class="background-form">
  <div class="section">
        
        <img src="assets/gallery/location2.png" width="40" height="40">
        <p> 346-B Sarghoda Rd, Gujrat.</p>
        <img src="assets/gallery/phone.png" width="40" height="40">
        <p> +053-2545-460</p>
        <img src="assets/gallery/whatsapp.png" width="50" height="40">
        <p> +92346-8440699</p>
        <img src="assets/gallery/email1.png" width="40" height="40">
        <p> kalsoomsarwar7@gmail.com</p>
        <div class="clear"></div>
        <img src="assets/gallery/facebook.png" width="50" height="50" class="social">
        <img src="assets/gallery/twitter.png" width="50" height="50" class="social">
        <img src="assets/gallery/googleplus.png" width="40" height="40" style="margin-top: 6px;" class="social">
        <img src="assets/gallery/pinterst.png" width="40" height="40" style="margin-top: 6px;" class="social">
        <img src="assets/gallery/skype.png" width="40" height="40" style="margin-top: 6px;" class="social">
        <img src="assets/gallery/instragram.png" width="50" height="50" class="social">
    </div>

   </div>