 <!------Add new employee Form---->
   
 
 <form action="" method="get">
  <div id="background-form">
      <h1 class="heading">ADD NEW EMPLOYEE</h1>
      <br>
      <b>Name:</b><input type=text placeholder="Enter name" id="form-control" title="Please fill out this box" required style="margin-left: 75px">
      <br><br>
    <b>Date Of Birth:</b><input type=date placeholder="Enter DOB" id="form-control"  title="Please fill out this box" required>
    <br><br>
    <b>CNIC:</b><input type=text placeholder="Enter CNIC" id="form-control" title="Please fill out this box" required style="margin-left: 75px">
      <br><br>
    <b>Cell Number:</b><input type=text placeholder="Enter cell number" id="form-control" title="Please fill out this box" required>
      <br><br>
      <b>Address:</b><input type=text placeholder="Enter Address" id="form-control" title="Please fill out this box" required style="margin-left: 60px">
      <br><br>
    <input type="submit" value="SUBMIT" class="login">
   </div>
</form>

