
  <!-- <div class="header">
    <ul>
        <li><a routerLink="./">Home</a></li>
        <li><a routerLink="../employees">Employee List</a></li>
        <li><a routerLink="../add">Add New</a></li>
        <li><a>Salary</a></li>
        <li><a>Attendance</a></li>
        <li><a routerLink="../contact">Contact</a></li>
    </ul>
  </div> -->






<div id="services">
  <div id="wordpress" class="service">
      <img src="assets/gallery/secure-new.png" width="150" height="150" alt="Wordpress" id="img">
      <h2>Web Sucurity</h2>
      <p>We provide sucurity to websites and Networks with the latest Technology. We have best Ethical Hackers and Security Experts in our team.</p>
      <a href="#" class="learn">Learn More</a>
  </div>

  <div id="wordpress" class="service">
      <img src="assets/gallery/php.png" width="150" height="150" alt="Wordpress" id="img">
      <h2>PHP and MYSQL Development</h2>
      <p>We Develop Complete Websites with PHP and MySQL database. You can ask for Content Management System in PHP.</p>
      <a href="#" class="learn">Learn More</a>
  </div>

  <div id="wordpress" class="service">
      <img src="assets/gallery/Swagger-Logo.png" width="150" height="150" alt="Wordpress" id="img">
      <h2>Desktop Applications</h2>
      <p>We Develop Desktop Applications for business companies with the latest Technology. Our applications are running in many business companies.</p>
      <a href="#" class="learn">Learn More</a>
  </div>

  <div id="wordpress" class="service">
      <img src="assets/gallery/wordpress-logo.png" width="150" height="150" alt="Wordpress" id="img">
      <h2>Wordpress Development</h2>
      <p>We Develop Complete Content Management System with the latest Technology. Wordpress is a great platform.</p>
      <a href="#" class="learn">Learn More</a>
  </div>